button.hiddenTopButtonV102{
  display:none!important;
}

button.esborovnaTopButtonV102{
  border-radius:13px!important;
  border:1px solid #0f4c81!important;
  background:#0f4c81!important;
  color:#fff!important;
  font-family:'Open Sans',sans-serif!important;
  font-size:13px!important;
  font-weight:850!important;
  padding:9px 13px!important;
  cursor:pointer!important;
  box-shadow:0 4px 12px rgba(15,76,129,.08)!important;
}
