/* =====================================================
   Jemné doladění sloupců pro tisk/PDF
   ===================================================== */

@media print{

  /* datum trochu širší */
  .dayCell{
    width:21mm!important;
    min-width:21mm!important;
    max-width:21mm!important;
  }

  /* čas tak, aby byl vždy na jednom řádku */
  .timeCell{
    width:27mm!important;
    min-width:27mm!important;
    max-width:27mm!important;

    white-space:nowrap!important;
    word-break:keep-all!important;
    overflow-wrap:normal!important;
    text-align:center!important;
  }
}

/* stejné i pro PDF režim */
body.printingV113 .dayCell{
  width:21mm!important;
  min-width:21mm!important;
  max-width:21mm!important;
}

body.printingV113 .timeCell{
  width:27mm!important;
  min-width:27mm!important;
  max-width:27mm!important;

  white-space:nowrap!important;
  word-break:keep-all!important;
  overflow-wrap:normal!important;
  text-align:center!important;
}
